.container {
  width: 100%;
  /* margin-bottom: 20px; */
}

.search {
  width: 80%;
  margin: 14px auto;
}

.searchBar {
    width: 90%;
    height: 40px;
    margin: auto;
}

.searchBar input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    outline: none;
}

.genreList {
  width: 80%;
  margin: 10px auto;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.genreList .genreItem {
  height: 30px;
  border: 1px solid rgb(55 65 81);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 5px;
  margin: 4px 3px;
  cursor: pointer;
}

.genreItem:hover {
  background-color: #EA4444;
}

.header {
  width: 80%;
  margin: 10px auto;
  color: #ffffff;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.movieList {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.movieItem {
  height: 260px;
  width: 49%;
  color: #ffffff;
  border: 1px solid rgb(55 65 81);
  border-radius: 12px;
  display: flex;
  margin: 5px;
  cursor: pointer;
}

.movieImage img {
  height: 100%;
  border-radius: 12px 0 0 12px;
}

.movieContent {
  margin-top: 20px;
  margin-left: 24px;
}

.movieContent .genre {
  font-size: 14px;
  color: #5d6a81;
  margin-bottom: 10px;
  display: flex;
}

.movieContent .title {
  font-size: 24px;
  margin-bottom: 10px;
}

.movieContent .relDate {
  margin-bottom: 10px;
}

.movieRating {
  display: flex;
  align-items: center;
}

.movieRating img {
  height: 34px;
  width: 38px;
  margin-right: 6px;
}
