.movieContainer {
    width: 100%;
    margin-bottom: 3%;
}

.movieListHeader {
    width: 80%;
    margin: 10px auto;
    color: #ffffff;
    border-bottom: 1px solid #fff;
}

.movieList {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

